<div class="flex items-center justify-center">
  <div class="mb-6 mt-5">
    <input
      type="text"
      id="search"
      [(ngModel)]="searchText"
      (input)="searchProduct()"
      #searchInput
      [ngClass]="{
        'bg-green-50 border-green-500 text-green-900 dark:text-green-400 placeholder-green-700 dark:placeholder-green-500':
          products.length > 0 && filterProducts.length > 0,
        'bg-red-50 border-red-500 text-red-900 dark:text-red-500 placeholder-red-700 dark:placeholder-red-500':
          (products.length === 0 && searchText) ||
          (filterProducts.length === 0 && searchText)
      }"
      class="text-sm rounded-lg focus:ring focus:border block w-full p-2.5 dark:bg-gray-700 dark:border focus:ring-dark focus:border-dark"
      placeholder="Buscar por nombre y precio"
    />
    <div *ngIf="products.length > 0 && filterProducts.length > 0">
      <p class="mt-2 text-sm text-green-600 dark:text-green-500">
        <span class="font-medium">Todo bien! </span> Se han cargado los
        productos con éxito.
      </p>
    </div>
    <div
      *ngIf="
        (products.length === 0 && searchText) ||
        (filterProducts.length === 0 && searchText)
      "
    >
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">Ups! </span> No se han encontrado productos
      </p>
    </div>
    <div *ngIf="products.length === 0 && !searchText">
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium"
          >No hay productos registrados. Por favor, registre un producto.</span
        >
        >
      </p>
    </div>
  </div>
</div>
<app-card [filterProducts]="filterProducts"></app-card>
