<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th *ngFor="let column of columns" scope="col" class="px-6 py-3">
          {{ column.name }}
        </th>
        <th scope="col" class="px-6 py-3"></th>
        <th scope="col" class="px-6 py-3"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of filterOrders"
        class="bg-white border-b dark:bg-gray-900 dark:border-gray-700 hover:bg-gray-200 dark:hover:bg-gray-600">
        <td *ngFor="let columna of columns" class="px-6 py-4 text-center align-middle">
          <ng-container *ngIf="columna.key === 'UserId'">
            {{ order?.User?.FullName }}
          </ng-container>
          <ng-container *ngIf="columna.key === 'ProductId'">
            {{ getProductNames(order) }}
          </ng-container>
          <ng-container *ngIf="columna.key === 'Quantity'">
            {{ getProductQuantities(order) }}
          </ng-container>
          <ng-container *ngIf="columna.key === 'PurchaseStatus'">
            <div class="flex items-center">
              <div [ngClass]="{
                  'h-2.5 w-2.5 rounded-full mr-2': true,
                  'bg-green-500': order?.PurchaseStatus === 'Completada',
                  'bg-yellow-500': order?.PurchaseStatus === 'En progreso'
                }"></div>
              {{ order?.PurchaseStatus }}
            </div>
          </ng-container>
          <ng-container
            *ngIf="columna.key !== 'UserId' && columna.key !== 'ProductId' && columna.key !== 'Quantity' && columna.key !== 'PurchaseStatus'">
            {{ order[columna.key] }}
          </ng-container>
        </td>
        <td class="px-6 py-4">
        <td class="px-6 py-4">
          <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            *ngFor="let purchaseItem of order.PurchaseItems; let last = last"
            [routerLink]="['/orders', purchaseItem.Purchase?.PurchaseId]">
            <ng-container *ngIf="last">Ver detalles</ng-container>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>