<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th *ngFor="let column of columns" scope="col" class="px-6 py-3">
          {{ column.name }}
        </th>
        <th scope="col" class="px-6 py-3"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of filterOrders"
        class="bg-white border-b dark:bg-gray-900 dark:border-gray-700 hover:bg-gray-200 dark:hover:bg-gray-600">
        <td *ngFor="let columna of columns" class="px-6 py-4 text-center align-middle">
          <ng-container *ngIf="columna.key === 'UserId'">
            {{ order.UserId}}
          </ng-container>
          <ng-container *ngIf="columna.key === 'ProductId'">
            {{ order?.ProductId }}
          </ng-container>
          <ng-container *ngIf="columna.key === 'Quantity'">
            {{ order?.Quantity}}
          </ng-container>

          <ng-container *ngIf="columna.key === 'PurchaseStatus'">
            <div class="flex items-center">
              <div [ngClass]="{
                  'h-2.5 w-2.5 rounded-full mr-2': true,
                  'bg-green-500': order?.PurchaseStatus === 'Completada',
                  'bg-yellow-500': order?.PurchaseStatus === 'En progreso',
                  'bg-red-500': order?.PurchaseStatus === 'Cancelada'
                }"></div>
              {{ order?.PurchaseStatus }}
            </div>
          </ng-container>
          <ng-container
            *ngIf="columna.key !== 'UserId' && columna.key !== 'ProductId' && columna.key !== 'Quantity' && columna.key !== 'PurchaseStatus'">
            {{ order[columna.key] }}
          </ng-container>
        </td>
        <td>
          <div class="flex items-center justify-center">
            <button routerLink="/orders/{{ order.PurchaseId }}" class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-gray-500" viewBox="0 0 20 20"
                fill="currentColor">
                <path d="M10 12a2 2 0 100-4 2 2 0 000 4zM3 6a2 2 0 114 0 2 2 0 01-4 0zM17 14a2 2 0 100-4 2 2 0 000
                  4zM3 14a2 2 0 114 0 2 2 0 01-4 0zM17 6a2 2 0 100-4 2 2 0 000 4z">
                </path>
              </svg>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>