.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1180px) {
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .card-container .w-full:last-child {
    margin-bottom: 8rem;
  }
}

@media (max-width: 1160px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
