<div
  class="card-container grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
>
  <div
    *ngFor="let product of products"
    class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <!-- <a [routerLink]="['/productsDetails', product?.ProductId]">
      <img class="p-8 rounded-t-lg" [src]="" alt="product image" />
    </a> -->
    <a
      href="https://images.unsplash.com/photo-1523275335684-37898b6baf30?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZHVjdCUyMHBob3RvaHJhcGhlcnxlbnwwfHwwfHw%3D&w=1000&q=80"
      target="_blank"
    >
      <img
        class="p-8 rounded-t-lg"
        src="https://images.unsplash.com/photo-1523275335684-37898b6baf30?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZHVjdCUyMHBob3RvaHJhcGhlcnxlbnwwfHwwfHw%3D&w=1000&q=80"
        alt="product image"
      />
    </a>

    <div class="px-5 pb-5">
      <a [routerLink]="['/product', product?.ProductId]">
        <h5
          class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white"
        >
          {{ product?.ProductName }}
        </h5>
      </a>
      <div class="flex items-center mt-2.5 mb-5">
        <svg
          *ngFor="let star of [1, 2, 3, 4, 5]"
          aria-hidden="true"
          class="w-5 h-5 text-yellow-300"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Star</title>
          <path
            [ngClass]="{
              'text-yellow-500': star <= product.Rating,
              'text-gray-300':
                star > product.Rating || product?.Rating === undefined
            }"
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.53 1.118l-2.8-2.034a1 1 0 00-1.176 0l-2.8 2.034c-.775.57-1.83-.197-1.53-1.118l1.07-3.292a1 1 0 00-.364-1.118L.26 8.719C-.523 8.148-.12 7.01.849 7.01h3.461a1 1 0 00.95-.69L6.37 2.927zM10 15.337l-3.205 2.326.91-2.805-2.65-1.928 3.29-.02L10 8.344l1.656 4.566 3.29.02-2.65 1.928.91 2.805L10 15.337z"
          ></path>
        </svg>
      </div>

      <div class="flex justify-between items-center">
        <span class="text-lg font-semibold text-gray-900 dark:text-white">
          ${{ product?.Price }}
        </span>
        <button
          [routerLink]="['/product', product?.ProductId]"
          class="px-3 py-1.5 text-xs font-medium tracking-wide text-white uppercase transition-colors duration-200 transform bg-indigo-500 rounded-md hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600"
        >
          Ver Detalles
        </button>
      </div>
    </div>
  </div>
</div>
