.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 640px) {
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .card-container .w-full:last-child {
    margin-bottom: 8rem; 
  }
}
