<form [formGroup]="formCreate" novalidate (ngSubmit)="submitForm()">
    <section class="bg-white dark:bg-gray-900">
        <div class="flex justify-center min-h-screen">
            <div class="hidden bg-cover lg:block lg:w-2/5"
                style="background-image: url('https://images.unsplash.com/photo-1494621930069-4fd4b2e24a11?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80')">
            </div>
            <div class="flex items-center w-full max-w-3xl p-8 mx-auto lg:px-12 lg:w-3/5">
                <div class="w-full">
                    <h1 class="text-2xl font-semibold tracking-wider text-gray-800 capitalize dark:text-white">
                        Obten tu cuenta gratis ahora.
                    </h1>
                    <p class="mt-4 text-gray-500 dark:text-gray-400">
                        Vamos a prepararlo todo para que pueda verificar su cuenta personal y comenzar a configurar su
                        perfil.
                    </p>
                    <div class="mt-6">
                        <h1 class="text-gray-500 dark:text-gray-300">Seleccione el tipo de cuenta que desea crear.</h1>
                        <span *ngIf="errorHandling('role', 'required')" class="text-red-500 text-xs italic">
                            Please enter a role.
                        </span>
                        <div class="mt-2 md:flex md:items-center md:-mx-2">
                            <div class="relative">
                                <select formControlName="role" (change)="selectRole($event)"
                                    class="block w-full px-4 py-2 mt-1 bg-white border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-200 focus:border-blue-500 sm:text-sm appearance-none">
                                    <option value="">Seleccione un rol</option>
                                    <option *ngFor="let r of roles" [value]="r.RoleId">{{ r.RoleName }}</option>
                                    <option [value]="'2,3'">Customer & Vendor</option>
                                </select>
                                <div *ngIf="backendError" class="text-red-500 mt-2">{{ backendError }}</div>
                                <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
                                    <svg class="w-5 h-5 text-gray-400" fill="none" stroke="currentColor"
                                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M9 5l7 7-7 7"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 gap-6 mt-8 md:grid-cols-2">
                        <div>
                            <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">
                                Nombre completo
                            </label>
                            <input type="text" placeholder="John Doe" formControlName="fullName"
                                class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                            <span *ngIf="errorHandling('fullName', 'required')"
                                class="text-red-500 text-xs italic">Please enter a username.</span>
                        </div>
                        <div>
                            <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">
                                Identificación
                            </label>
                            <input type="text" placeholder="1234567890" formControlName="identification"
                                class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                            <span *ngIf="errorHandling('identification', 'required')"
                                class="text-red-500 text-xs italic">Please enter a identity number.</span>
                        </div>
                        <div>
                            <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">
                                Número de teléfono
                            </label>
                            <input type="text" placeholder="XXX-XX-XXXX-XXX" formControlName="phoneNumber"
                                class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                            <span *ngIf="errorHandling('phoneNumber', 'required')"
                                class="text-red-500 text-xs italic">Please enter a phone number.</span>
                        </div>
                        <div>
                            <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">
                                Correo electrónico
                            </label>
                            <input type="email" placeholder="johnsnow@example.com" formControlName="email"
                                class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                            <span *ngIf="errorHandling('email', 'required')" class="text-red-500 text-xs italic">Please
                                enter a email.</span>
                        </div>
                        <div>
                            <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">
                                Contraseña
                            </label>
                            <input type="password" placeholder="Enter your password" formControlName="password"
                                class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                            <span *ngIf="errorHandling('password', 'required')"
                                class="text-red-500 text-xs italic">Please
                                enter a password.</span>
                        </div>
                        <div *ngIf="showProveedorField">
                            <div>
                                <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">
                                    Nombre de proveedor
                                </label>
                                <input formControlName="proveedor" type="text" placeholder="John Doe Proveedor"
                                    class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
                                    [disabled]="!showProveedorField" />
                                <span *ngIf="errorHandling('proveedor', 'required') && showProveedorField"
                                    class="text-red-500 text-xs italic">
                                    Por favor, ingrese un nombre de proveedor.
                                </span>
                            </div>
                        </div>
                        <div>
                            <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">
                                Dirección
                            </label>
                            <input type="email" placeholder="El sur" formControlName="address"
                                class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                            <span *ngIf="errorHandling('address', 'required')"
                                class="text-red-500 text-xs italic">Please
                                enter a address.</span>
                            <!-- <select formControlName="province"
                                class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
                                (change)="onChangeProvince($event)">
                                <option value="">Seleccione una provincia</option>
                                <option class="capitalize" *ngFor="let province of provinces" [value]="province">{{
                                    province }}</option>
                            </select> -->

                        </div>
                        <button type="button" (click)="submitForm()"
                            class="flex items-center justify-between w-full px-6 py-3 text-sm tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-lg hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50">
                            <span>Registrarse</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 rtl:-scale-x-100" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <!-- ----------------------- -->
            <div *ngIf="!showProveedorField"
                class="min-w-screen min-h-screen bg-gray-200 flex items-center justify-center px-5 pb-10 pt-16">
                <div class="w-full mx-auto rounded-lg bg-white shadow-lg p-5 text-gray-700" style="max-width: 600px">
                    <div class="w-full pt-1 pb-5">
                        <div
                            class="bg-indigo-500 text-white overflow-hidden rounded-full w-20 h-20 -mt-16 mx-auto shadow-lg flex justify-center items-center">
                            <i class="mdi mdi-credit-card-outline text-3xl"></i>
                        </div>
                    </div>
                    <div class="mb-10">
                        <h1 class="text-center font-bold text-xl uppercase">Metodo de pago</h1>
                    </div>
                    <div class="mb-3 flex -mx-2">
                        <div class="px-2">
                            <label for="type1" class="flex items-center cursor-pointer">
                                <input type="radio" class="form-radio h-5 w-5 text-indigo-500" name="type" id="type1"
                                    (change)="onChangePaymentMethod('Tarjeta de Crédito')"
                                    [checked]="selectedPaymentMethod === 'Tarjeta de Crédito'">
                                <img src="https://leadershipmemphis.org/wp-content/uploads/2020/08/780370.png"
                                    class="h-8 ml-3">
                            </label>
                        </div>
                        <div class="px-2">
                            <label for="type2" class="flex items-center cursor-pointer">
                                <input type="radio" class="form-radio h-5 w-5 text-indigo-500" name="type" id="type2"
                                    (change)="onChangePaymentMethod('PayPal')"
                                    [checked]="selectedPaymentMethod === 'PayPal'">
                                <img src="https://www.sketchappsources.com/resources/source-image/PayPalCard.png"
                                    class="h-8 ml-3">
                            </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="font-bold text-sm mb-2 ml-1">Nombre del propietario</label>
                        <div>
                            <input formControlName="cardOwner"
                                class="w-full px-3 py-2 mb-1 border-2 border-gray-200 rounded-md focus:outline-none focus:border-indigo-500 transition-colors"
                                placeholder="John Smith" type="text" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="font-bold text-sm mb-2 ml-1">Número de tarjeta</label>
                        <div>
                            <input formControlName="cardNumber"
                                class="w-full px-3 py-2 mb-1 border-2 border-gray-200 rounded-md focus:outline-none focus:border-indigo-500 transition-colors"
                                placeholder="0000 0000 0000 0000" type="text" />
                        </div>
                    </div>
                    <div class="mb-3 -mx-2 flex items-end">
                        <div class="px-2 w-1/2">
                            <label class="font-bold text-sm mb-2 ml-1">Fecha de vencimiento</label>
                            <div>
                                <select formControlName="expirationMonth"
                                    class="form-select w-full px-3 py-2 mb-1 border-2 border-gray-200 rounded-md focus:outline-none focus:border-indigo-500 transition-colors cursor-pointer">
                                    <option value="01">01 - Enero</option>
                                    <option value="02">02 - Febrero</option>
                                    <option value="03">03 - Marzo</option>
                                    <option value="04">04 - Abril</option>
                                    <option value="05">05 - Mayo</option>
                                    <option value="06">06 - Junio</option>
                                    <option value="07">07 - Julio</option>
                                    <option value="08">08 - Agosto</option>
                                    <option value="09">09 - Septiembre</option>
                                    <option value="10">10 - Octubre</option>
                                    <option value="11">11 - Noviembre</option>
                                    <option value="12">12 - Diciembre</option>
                                </select>
                            </div>
                        </div>
                        <div class="px-2 w-1/2">
                            <select formControlName="expirationYear"
                                class="form-select w-full px-3 py-2 mb-1 border-2 border-gray-200 rounded-md focus:outline-none focus:border-indigo-500 transition-colors cursor-pointer">
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>
                                <option value="2029">2029</option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-10">
                        <label class="font-bold text-sm mb-2 ml-1">CVC</label>
                        <div>
                            <input formControlName="cvc"
                                class="w-32 px-3 py-2 mb-1 border-2 border-gray-200 rounded-md focus:outline-none focus:border-indigo-500 transition-colors"
                                placeholder="000" type="text" />
                        </div>
                    </div>

                    <div>
                        <button
                            class="block w-full max-w-xs mx-auto bg-indigo-500 hover:bg-indigo-700 focus:bg-indigo-700 text-white rounded-lg px-3 py-3 font-semibold"
                            (click)="onAddCard()"><i class="mdi mdi-lock-outline mr-1"></i> AGREGAR TARJETA</button>
                    </div>

                    <div class="mt-4">

                        <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Métodos de pago guardados
                        </h2>
                        <ul class="max-w-md space-y-1 text-gray-500 list-inside dark:text-gray-400">
                            <li *ngFor="let method of savedPaymentMethods" class="flex items-center">
                                <svg class="w-3.5 h-3.5 mr-2 text-green-500 dark:text-green-400 flex-shrink-0"
                                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                    viewBox="0 0 20 20">
                                    <path
                                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                                </svg>
                                {{ method }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>