<form [formGroup]="formCreate" novalidate (ngSubmit)="submitForm()">
    <section class="bg-white dark:bg-gray-900">
        <div class="flex justify-center min-h-screen">
            <div class="hidden bg-cover lg:block lg:w-2/5"
                style="background-image: url('https://images.unsplash.com/photo-1494621930069-4fd4b2e24a11?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80')">
            </div>
            <div class="flex items-center w-full max-w-3xl p-8 mx-auto lg:px-12 lg:w-3/5">
                <div class="w-full">
                    <h1 class="text-2xl font-semibold tracking-wider text-gray-800 capitalize dark:text-white">
                        Obten tu cuenta gratis ahora.
                    </h1>
                    <p class="mt-4 text-gray-500 dark:text-gray-400">
                        Vamos a prepararlo todo para que pueda verificar su cuenta personal y comenzar a configurar su
                        perfil.
                    </p>
                    <div class="mt-6">
                        <h1 class="text-gray-500 dark:text-gray-300">Seleccione el tipo de cuenta que desea crear.</h1>
                        <span *ngIf="errorHandling('role', 'required')" class="text-red-500 text-xs italic">
                            Please enter a role.
                        </span>
                        <div class="mt-2 md:flex md:items-center md:-mx-2">
                            <div class="relative">
                                <select formControlName="role" (change)="selectRole($event)"
                                    class="block w-full px-4 py-2 mt-1 bg-white border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-200 focus:border-blue-500 sm:text-sm appearance-none">
                                    <option value="">Seleccione un rol</option>
                                    <option *ngFor="let r of roles" [value]="r.RoleId">{{ r.RoleName }}</option>
                                    <option [value]="'2,3'">Customer & Vendor</option>
                                </select>
                                <div *ngIf="backendError" class="text-red-500 mt-2">{{ backendError }}</div>
                                <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
                                    <svg class="w-5 h-5 text-gray-400" fill="none" stroke="currentColor"
                                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M9 5l7 7-7 7"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 gap-6 mt-8 md:grid-cols-2">
                        <div>
                            <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">
                                Nombre completo
                            </label>
                            <input type="text" placeholder="John Doe" formControlName="fullName"
                                class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                            <span *ngIf="errorHandling('fullName', 'required')"
                                class="text-red-500 text-xs italic">Please enter a username.</span>
                        </div>
                        <div>
                            <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">
                                Identificación
                            </label>
                            <input type="text" placeholder="1234567890" formControlName="identification"
                                class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                            <span *ngIf="errorHandling('identification', 'required')"
                                class="text-red-500 text-xs italic">Please enter a identity number.</span>
                        </div>
                        <div>
                            <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">
                                Número de teléfono
                            </label>
                            <input type="text" placeholder="XXX-XX-XXXX-XXX" formControlName="phoneNumber"
                                class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                            <span *ngIf="errorHandling('phoneNumber', 'required')"
                                class="text-red-500 text-xs italic">Please enter a phone number.</span>
                        </div>
                        <div>
                            <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">
                                Correo electrónico
                            </label>
                            <input type="email" placeholder="johnsnow@example.com" formControlName="email"
                                class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                            <span *ngIf="errorHandling('email', 'required')" class="text-red-500 text-xs italic">Please
                                enter a email.</span>
                        </div>
                        <div>
                            <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">
                                Contraseña
                            </label>
                            <input type="password" placeholder="Enter your password" formControlName="password"
                                class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                            <span *ngIf="errorHandling('password', 'required')"
                                class="text-red-500 text-xs italic">Please
                                enter a password.</span>
                        </div>
                        <div *ngIf="showProveedorField">
                            <div>
                                <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">
                                    Nombre de proveedor
                                </label>
                                <input formControlName="proveedor" type="text" placeholder="John Doe Proveedor"
                                    class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
                                    [disabled]="!showProveedorField" />
                                <span *ngIf="errorHandling('proveedor', 'required') && showProveedorField"
                                    class="text-red-500 text-xs italic">
                                    Por favor, ingrese un nombre de proveedor.
                                </span>
                            </div>
                        </div>
                        <div>
                            <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">
                                Dirección
                            </label>
                            <input type="email" placeholder="El sur" formControlName="address"
                                class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                            <span *ngIf="errorHandling('address', 'required')"
                                class="text-red-500 text-xs italic">Please
                                enter a address.</span>
                            <!-- <select formControlName="province"
                                class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
                                (change)="onChangeProvince($event)">
                                <option value="">Seleccione una provincia</option>
                                <option class="capitalize" *ngFor="let province of provinces" [value]="province">{{
                                    province }}</option>
                            </select> -->

                        </div>
                        <button type="button" (click)="submitForm()"
                            class="flex items-center justify-between w-full px-6 py-3 text-sm tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-lg hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50">
                            <span>Registrarse</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 rtl:-scale-x-100" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>